<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <script src="https://kit.fontawesome.com/8132f59d3a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles2.css">
</head>
<body>
    

    {{!-- <div class="navdiv">
        <div class="logo">
            <img class="logo-img" src="images/logo.png" alt="">
            Botanical
        </div>
            <ul class="links">
                <li><a href="index.html">Home</a></li>
                <li>
                    <a href="shop.html">Shop</a>
                </li>
                <li><a href="#">About us</a></li>
                <li><a href="cart.html">Cart</a></li>
                <li>Search</li>
                <li class="btn-nav"> <a href="sign.html">Sign in</a> </li>
            </ul>
    </div> --}}

    {{>header2}}



    <div class="banner">
        <img src="images/banner2.png" alt="">
    </div>

    <div class="content">
        <div class="div-con">
            <h2>
                We take Plants personally <br>
                & we bring you happiness
            </h2>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis, incidunt  <br> natus. Consectetur voluptates dolorem tenetur.
            </p>
        
        </div>

        <img src="images/plant-removebg-preview.png" alt="plant image">


    </div>

    <div class="why">
        <h1>why customers choose us</h1>
        <ul>
            <li >
                🌺
                <!-- <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 svg_hash" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M7 20l4-16m2 16l4-16M6 9h14M4 15h14" />
                  </svg> -->
                
                We have over 4000+ unbiased reviews and our customers trust our plant process and delivery service every time</li>
            <li> 🌺
                <!-- <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 svg_hash" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M7 20l4-16m2 16l4-16M6 9h14M4 15h14" />
                  </svg> -->
                we give you guides to protect and care for your plants.</li>
            <li> 🌺
                <!-- <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 svg_hash" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M7 20l4-16m2 16l4-16M6 9h14M4 15h14" />
                  </svg> -->
                we always come over for a check-up after sale.</li>
            <li> 🌺
                <!-- <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 svg_hash" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M7 20l4-16m2 16l4-16M6 9h14M4 15h14" />
                  </svg> -->
                100% money back guaranteed</li>
        </ul>
    </div>
 <div class="experts">

    <h2 class="heading">
        Our Plant Experts
    </h2>

    <div class="div-white">
        <div class="div-team">
              <img src="images/alice.jpg" alt="" class="team">
              <h4 class="names"></h4>
              
              <p class="lorem"></p>
              <ul class="media">
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">instagram</a></li>
                <li><a href="#">Linkedin</a></li>
            </ul>
        </div>

        <div class="div-team">
            <img src="images/joe mike.jpg" alt="" class="team">
            <h4 class="names"></h4>
            
            <p class="lorem"> </p>
            <ul class="media">
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">instagram</a></li>
                <li><a href="#">Linkedin</a></li>
            </ul>
        </div>

        <div class="div-team">
             <img src="images/Cheyenne.jpg" alt="" class="team">
             <h4 class="names"></h4>
             
             <p class="lorem"></p>
             <ul class="media">
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">instagram</a></li>
                <li><a href="#">Linkedin</a></li>
            </ul>
        </div>


    </div>
    
 </div>

 <h2 class="heading">
    Contact us
</h2>

<div class="contact_container">
    <form action="/action_page.php">
      <label for="fname">First Name</label>
      <input type="text" id="fname" name="firstname" placeholder="Your name..">
  
      <label for="lname">Last Name</label>
      <input type="text" id="lname" name="lastname" placeholder="Your last name..">
  
      <label for="country">Country</label>
      <select id="country" name="country">
        <option value="India">India</option>
        <option value="Russia">Russia</option>
        <option value="usa">USA</option>
      </select>
  
      <label for="subject">Subject</label>
      <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
  
      <input type="submit" value="Submit">
    </form>
  </div>

 {{!-- <footer>
    <div class="footer">
        
            <h3>Customer serivce</h3>
            <h3>Company</h3>
            <h3>Social Media</h3>
            <h3>Archive</h3>

            <ul class="f-list">
                <li><a href="#">Help & Contact Us</a></li>
                <li><a href="#">Returns & Refunds</a></li>
                <li><a href="#">Online Stores</a></li>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#"></a></li>
                
            </ul>


            <ul class="f-list">
                <li><a href="#">About us</a></li>
                <li><a href="#">Blog </a></li>
                <li><a href="#">Order Tracking</a></li>
                <li><a href="#">FAQ Page </a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Login</a></li>
                
            </ul>
        

        
            

            <ul class="f-list">
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Tumblr</a></li>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Linkdin</a></li>
                
            </ul>
       

      
            

            <ul class="f-list">
                <li><a href="#">Designer Plants</a></li>
                <li><a href="#">Gallery</a></li>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">Feature Index</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Help & support</a></li>
                
            </ul>
        
        


    </div>

</footer> --}}

{{>footer}}



<script>
    const jsonData ='{"name":["Alice","Joe Mike","Cheyene"],"text":"Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo, inventore natus velit ducimus aliquid,adipisicing elit. Explicabo, inventore natus velit ducimus aliquid"}';

    let data = JSON.parse(jsonData);
    let names = document.getElementsByClassName("names");
    let lorem= document.getElementsByClassName("lorem");
    let i;

    for(i=0;i<names.length;i++)
    {
        names[i].innerHTML=data.name[i];
        lorem[i].innerHTML = data.text;
    }

</script>
</body>
</html>




























