<div class="navdiv">
    <div class="logo">
        <img class="logo-img" src="images/logo.png" alt="">
        Botanical
    </div>
        <ul class="links">
            <li><a href="index">Home</a></li>
            <li>
                <a href="shop">Shop</a>
            </li>
            <li><a href="aboutUs">About us</a></li>
            <li><a href="cart">Cart</a></li>
            <li>Search</li>
              <li><a href="login"> Sign up </a></li>
        </ul>
</div>